<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GK.WindowsServices.ProcessDiscoveryForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GK.WindowsServices.ProcessDiscoveryForms.Properties.Settings>
            <setting name="GK_WindowsServices_ProcessDiscoveryForms_lotusService_UcretsizKesifService"
                serializeAs="String">
                <value>http://lotus.kale724.com.tr:80/wslayer.nsf/UcretsizKesifAx?OpenWebService</value>
            </setting>
        </GK.WindowsServices.ProcessDiscoveryForms.Properties.Settings>
    </applicationSettings>
</configuration>