<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="" ng-controller="assemblyRequestController">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Platform DEMO</title>

    <link href="./styles/main.css" rel="stylesheet" type="text/css" media="screen" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.js"></script>

    <script src="js/jquery/jquery.widget.min.js"></script>
    <script src="js/jquery/jquery.session.js"></script>
    <script src="js/jquery/purl.js"></script>
    <script src="js/jquery/jquery.maskedinput.js"></script>
    <script src="js/pagescripts/GlobalVariables.js"></script>
    <script src="js/pagescripts/languageMessagesJS.js"></script>
    <script src="js/pagescripts/editassemblyrequestJS.js"></script>
    <script src="js/customPlugin.js"></script>
</head>
<body style="background:#fff;">

    <!--Loading-->
    <div class="popupContainer" style="background-color:transparent;">
        <div class="popup popupMsgSend">
            <div class="error" ng-show="showErrorHeader"><span class="errorText">{{errorText}}</span></div>
            <!--Popup Body-->
            <div class="popupBody" ng-show="showLoading">
                <!--Data-->
                <div class="data cnt">
                    <div id="divLoadingMain" ng-show="showLoading" style="text-align:center;">
                        <img src="images/loading.gif" width="48" />
                        <br />
                        <br />
                        <h4 style="text-align:center;">İş emri bilgisi çekiliyor...</h4>
                    </div>
                </div>
                <!--Data-->
            </div>
            <!--Popup Body-->
        </div>
    </div>
    <!--Loading-->

    <!--Main Content-->
    <div class="mainContent profileDetailPage clearfix" id="divMain" ng-show="showMain">

        <!--Title-->
        <div class="title-content title-ann">
            <h1><i class="icon3 iconAnn"></i><span>İş Emirleri</span></h1>
        </div>
        <!--Title-->

        <div id="divMain">
            <!--Grid-->
            <div class="grid-row grid-data">

                <!--Title-->
                <div class="title-bottom title-profile">
                    <h1>Müşteri Bilgileri</h1>
                </div>
                <!--Title-->
                <!--Data Enter-->
                <div class="row row-data-enter">

                    <div class="data-holder left">
                        <div class="ng-control"><label class="ng-binding">Ad</label></div>
                        <div class="input-control"><input name="txtName" type="text" placeholder="" ng-model="request.FirstName" readonly=readonly /></div>
                    </div>

                    <div class="data-holder right">
                        <div class="ng-control"><label class="ng-binding">Soyad</label></div>
                        <div class="input-control"><input name="txtSurName" type="text" placeholder="" ng-model="request.LastName" readonly=readonly /></div>
                    </div>
                    <div class="fixer"></div>
                </div>

                <div class="row row-data-enter">

                    <div class="data-holder left">
                        <div class="ng-control"><label class="ng-binding">Cep Telefonu</label></div>
                        <div class="input-control">
                            <input name="txtMobilePhone" type="text" id="txtMobilePhone" placeholder="" ng-model="request.MobilePhoneNumber" readonly=readonly />
                        </div>
                    </div>

                    <div class="data-holder right">
                        <div class="ng-control"><label class="ng-binding">İş Telefonu</label></div>
                        <div class="input-control">
                            <input name="txtWorkPhone" type="text" id="txtWorkPhone" placeholder="" ng-model="request.WorkPhoneNumber" readonly=readonly />
                        </div>
                    </div>
                    <div class="fixer"></div>
                </div>

                <div class="row row-data-enter">

                    <div class="data-holder left">
                        <div class="ng-control"><label class="ng-binding">Durumu</label></div>
                        <div class="input-control">
                            <input name="txtMobilePhone" type="text" placeholder="" ng-model="status" readonly=readonly />
                        </div>
                    </div>

                    <!--<div class="data-holder right">
                        <div class="ng-control"><label class="ng-binding">İş Telefonu</label></div>
                        <div class="input-control">
                            <input name="txtWorkPhone" type="text" id="txtWorkPhone" placeholder="" ng-model="request.WorkPhoneNumber" readonly=readonly />
                        </div>
                    </div>-->
                    <div class="fixer"></div>
                </div>

                <!--Data Enter-->
            </div>
            <!--Grid-->
            <!--Grid-->
            <div class="grid-row grid-data">
                <!--Title-->
                <div class="title-bottom title-password">
                    <h1>Adres Bilgileri</h1>
                </div>

                <div class="row row-data-enter">

                    <div class="data-holder left">
                        <div class="ng-control"><label class="ng-binding">İl</label></div>
                        <div class="input-control">
                            <input type="text" placeholder="" ng-model="request.CityId.Name" readonly=readonly />
                        </div>
                    </div>

                    <div class="data-holder right">
                        <div class="ng-control"><label class="ng-binding">İlçe</label></div>
                        <div class="input-control">
                            <input type="text" placeholder="" ng-model="request.TownId.Name" readonly=readonly />
                        </div>
                    </div>
                    <div class="fixer"></div>

                </div>

                <div class="row row-data-enter">
                    <div class="data-holder right" style="width:100%;">
                        <div class="ng-control"><label class="ng-binding">Adres Detayı</label></div>
                        <div class="input-control">
                            <input name="txtEmail" placeholder="" style="width:100%;" ng-model="request.AddressDetail" readonly />
                        </div>
                    </div>
                    <div class="fixer"></div>
                </div>

            </div>
            <!--Grid-->

            <!--Grid-->
            <div class="grid-row grid-data-btn">
                <div class="row row-data-btn">
                    <button class="btnPrfUpdate" ng-click="CompleteRequest();" ng-show="showUpdate"><span>İŞ EMRİ GÜNCELLE</span></button>
                </div>
            </div>
            <!--Grid-->
            <!--Grid-->
            <!--<div class="grid-row grid-data-wrng">
                <div class="row row-data-wrng">
                    <p>! Profilini ilk güncellediğinde bütün boş alanları doldurman gerekiyor.Kazandığın ödülü sana ulaştırabilmemiz için telefon numaranı ve e-posta adresini güncel tutman gerektiğini unutma. Ayrıca sürprizlerden haberdar olabilmen ve şifre işlemlerini gerçekleştirebilmen için de iletişim bilgilerinin doğru olması gerekli.</p>
                </div>
            </div>-->
            <!--Grid-->

        </div>
    </div>
    <!--Main Content-->
</body>
</html>