<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="" ng-controller="passForgotController">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Kale Kilit Platformu</title>

    <link href="./styles/main.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="styles/toastr.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.js"></script>

    <script src="js/jquery/jquery.widget.min.js"></script>
    <script src="js/jquery/jquery.session.js"></script>
    <script src="js/jquery/purl.js"></script>
    <script src="js/jquery/toastr.js"></script>
    <script src="js/jquery/jquery.maskedinput.js"></script>
    <script src="js/pagescripts/GlobalVariables.js"></script>
    <script src="js/pagescripts/languageMessagesJS.js"></script>
    <script src="js/pagescripts/passrememberJS.js"></script>
    <script src="js/customPlugin.js"></script>
</head>

<body class="pageLogin">
    <div class="container">
        <!--Header-->
        <div class="header clearfix">
            <div class="headerHolder">
                <div class="col col1">
                    <div class="grid grid1"><a href="login.html" class="logo"><img src="./images/logo.png" border="0" title="Kale Kilit" /></a></div>
                </div>
                <div class="fixer"></div>
            </div>
        </div>
        <!--Header-->
        <!--Body-->
        <div class="body clearfix">
            <div class="bodyHolder loginPage clearfix">

                <!--Member Login-->
                <div class="left">
                    <div class="boxDefault boxPassForgot">
                        <div class="boxHolder">
                            <div class="boxHeader boxHeaderPassForgot">
                                <h2 class="boxTitle">Şifremi Unuttum</h2>
                            </div>
                            <div class="boxLoginStep">
                                <div class="step step1"><span>1</span><i></i></div>
                                <div class="step step2"><span class="selected">2</span><i></i></div>
                                <div class="step step3"><span>3</span></div>
                            </div>
                            <div class="boxBody boxBodyPassForgot">
                                <div class="boxFields boxPassForgotFields">
                                    <span class="name">Kullanıcı Adı</span> <span class="control">
                                        <input type="text" ng-model="userName" />
                                    </span>
                                </div>
                                <div class="boxFields boxPassForgotFields">
                                    <span class="name">Cep Telefonu</span> <span class="control">
                                        <input type="text" id="txtMobilePhone" ng-model="mobilePhone" />
                                    </span>
                                </div>
                                <div class="boxFields boxPassForgotFields" ng-show="showSmsCode">
                                    <span class="name">SMS Kodu</span> <span class="control">
                                        <input type="text" ng-model="smsCode" />
                                    </span>
                                </div>
                                <div class="boxFooter boxPassForgotFooter">
                                    <div class="boxBtnsCntrl boxPassForgotrBtnsCntrl">
                                        <a href="#" class="btnDefault btnLogin" ng-click="TriggerButton();"><span>{{buttonText}}</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="error" ng-show="showError">
                                <span class="errorText">{{errorText}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Member Login-->
                <!--Member Login Banner-->
                <div class="right">
                    <div class="loginBnr">
                        <span class="bnr"><img src="./images/loginBnr.png" border="0" /></span>
                        <div class="bnrText"> <span class="smallText">1 SİLİNDİR 4 BÜYÜK SALDIRILARA KARŞI!</span> <span class="largeText">DÜNYADA İLK 80 dB ALARMLI SİLİNDİRLER</span> </div>
                    </div>
                </div>
                <!--Member Login Banner-->
                <div class="fixer"> </div>
            </div>
        </div>
        <!--Body-->
    </div>

    <script type="text/javascript" language="javascript" src="./js/allScripts.js"></script>
</body>
</html>
