<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="" ng-controller="editVideoController">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Platform DEMO</title>

    <link href="./styles/main.css" rel="stylesheet" type="text/css" media="screen" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.js"></script>

    <script src="js/jquery/jquery.widget.min.js"></script>
    <script src="js/jquery/jquery.session.js"></script>
    <script src="js/jquery/purl.js"></script>
    <script src="js/pagescripts/GlobalVariables.js"></script>
    <script src="js/pagescripts/languageMessagesJS.js"></script>
    <script src="js/pagescripts/editvideoJS.js"></script>
    <script src="js/customPlugin.js"></script>
</head>
<body style="background:#fff;">
    <!--Loading-->
    <div class="popupContainer" style="background-color:transparent;">
        <div class="popup popupMsgSend">
            <div class="error" ng-show="showErrorHeader"><span class="errorText">{{errorText}}</span></div>
            <!--Popup Body-->
            <div class="popupBody" ng-show="showLoading">
                <!--Data-->
                <div class="data cnt">
                    <div id="divLoadingMain" ng-show="showLoading" style="text-align:center;">
                        <img src="images/loading.gif" width="48" />
                        <br />
                        <br />
                        <h4 style="text-align:center;">{{ ContentMessages["CM086"] }}</h4>
                    </div>
                </div>
                <!--Data-->
            </div>
            <!--Popup Body-->
        </div>
    </div>
    <!--Loading-->
    <!--Main Content-->
    <div class="mainContent videoPage videoPlayerPage clearfix" id="divMain" ng-show="showMain">
        <div class="title-content title-video">
            <h1><i class="icon3 iconVideo"></i><span>Videolar</span></h1>
        </div>
        <div class="nav">
            <a href="videolar.html" id="btnMain">Kategori</a><i></i>
            <a href="#" ng-click="BackToCategory();">
                {{categoryName}}<i></i>
                <a href="#">{{video.Name}}</a>
            </a>
        </div>

        <div class="grid-row">
            <div id="rowMainInfo">
                <!--Video Player-->
                <div class="videoPlayer">
                    <a href="#" ng-click="OpenVideo();"><img src="{{attachmentUrl+video.ImagePath}}" /><i id="imgPlay" class="playIcon"></i></a>
                </div>
                <!--Video Player-->
                <!--Social Line-->
                <div class="row row-social">
                    <div class="case">
                        <a href="javascript:void(0);" class="like" title="Beğen" ng-click="Like(video.Id);"><i></i><span>{{video.LikeDetail==null ? "0" : video.LikeDetail.LikeCount}}</span></a>
                        <a href="javascript:void(0);" class="cmnt" title="Yorum"><i></i><span>{{video.CommentList==null ? "0" : video.CommentList.length }}</span></a>
                    </div>
                </div>
                <!--Social Line-->
                <!--Comment-->
                <div id="rowComments" class="row-cmnts">
                    <p class="item-title"><i class="icon1 iconCmt"></i>Yorumlar</p>
                    <div class="error" ng-show="noCommentRecord"><span id="lblErrorComments">Henüz yorum yok!</span></div>
                </div>
            </div>
            <!--Comment-->
            <!--Get Comment-->
            <div class="get-comment">
                <!--Comments-->
                <div class="comments" id="lstComments">
                    <div class="row row-user" ng-repeat="comment in video.CommentList">
                        <div class="row-inline">
                            <div class="avtr"><span class="avatar-bg" style="background-image:url({{attachmentUrl+comment.PortalUserImage}});"></span></div>
                            <div class="info">
                                <div class="colmn">
                                    <a href="#"><span class="name">{{comment.PortalUser.Name}}</span></a>
                                </div>
                                <div class="colmn"><span class="date">{{comment.CreatedOnString}}</span></div>
                            </div>
                            <div class="user-comnt"><p>{{comment.Description}}</p></div>
                            <div class="fixer"></div>
                        </div>
                    </div>
                </div>
                <!--Comments-->
                <div class="row row-comnt-make">
                    <div class="cmnt">
                        <input type="text" placeholder="Yorum Yap" class="cmntInput" texttype="comment" ng-model="video.commentText" />
                        <a href="javascript:void(0);" class="btnCmnt" ng-click="sendComment(video.Id,video.commentText)"></a>
                    </div>
                </div>
            </div>
            <!--Get Comment-->
        </div>
    </div>
    <!--Main Content-->
</body>
</html>