<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GK.WindowsServices.SendSms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GK.WindowsServices.SendSms.Properties.Settings>
            <setting name="GK_WindowsServices_SendSms_smsService_smsservice"
                serializeAs="String">
                <value>http://www.postaguvercini.com/api_ws/smsservice.asmx</value>
            </setting>
        </GK.WindowsServices.SendSms.Properties.Settings>
    </applicationSettings>

  <appSettings>
    <add key="serviceInterval" value="60000"/>
  </appSettings>
  
</configuration>