<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="username" value="Kalekilitesatis"/>
    <add key="password" value="q1w2e3"/>
    <add key="mailaddress" value="Kalekilitesatis@kalekilit.com.tr"/>
    <add key="hostaddress" value="172.16.1.160"/>
    <add key="port" value="25"/>
    <add key="serviceInterval" value="60000"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
